<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/cover/">
  <title>AutoCine</title>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" style="font-weight: bolder;" href="#">AutoCine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acerca de</a>
        </li>

      </ul>
    </div>
  </nav>

  <br>

  <p class="bg-warning" style="font-weight: bolder;font-size: large;">La fiebre de los autocines regresa a Costa Rica
    para los más nostálgicos que quieran disfrutar del séptimo arte al estilo de los años 70.</p>



  <div class="col-sm-6 bg-dark" id="test">
    <p class="text-warning" style="font-weight: bolder;">Ya Abrimos !</p>
  </div>
  <div class="col-sm-1" id="pet">
    <p style="font-weight: bolder;color: darkslategrey;">.</p>
  </div>

  <footer class="fixed-bottom bg-dark text-warning">
    <p style="margin-left:35%;">Proyecto AutoCine . Universidad Tecnica Nacional 2020</p>
  </footer>

</body>

</html>